APP_SECRET=gere-um-segredo-aleatorio-com-pelo-menos-32-bytes
SETUP_SECRET=gere-um-segredo-diferente-para-a-configuracao-inicial
PUBLIC_SITE_URL=https://psico-mateus.github.io/
GUIDE_URL=https://psico-mateus.github.io/guia-emocoes/
